{% extends "core/base.html" %}

{% block content %}
	<div id="app-root" class="app-root" ng-controller="MapCtrl">
		<div ui-map="worldMap" ui-options="mapOptions" class="map-canvas"></div>
		<div class="m-draws map-ui-layer scenery-draws">
			<div class="scenery-draws__title-bar">
				My Sceneries
			</div>
			<div ng-repeat="sceneryType in sceneryTypes track by sceneryType.id" class="m-draws__draw scenery-draw">
				<div ng-bind="sceneryType.display_name_plural" class="scenery-draw__title"></div>
				<div ng-if="sceneries[sceneryType.id].length">
					<ul class="m-bare-list scenery-draw__list">
						<li ng-repeat="scenery in sceneries[sceneryType.id]" class="scenery-draw__item">
							<div class="m-inline-block scenery-draw__item__icon"></div><div class="m-inline-block m-truncate scenery-draw__item__name" ng-bind="scenery.name"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
