// Colours
$ui-text: #444;
$primary-text-color: #000;

$ui-primary-500: #3f51b5;

$ui-primary-100: #c5cae9;
$ui-primary-700: #303F9F;

$ui-accent-a200: #ff4081;

$ui-accent-a100: #ff80ab;
$ui-accent-a400: #f50057;

// Dimensions

// Layers
