.btn {
	border: 1px solid #ddd;
	background-color: #eee;
	border-radius: 3px;
	display: inline-block;
	color: rgba(0, 0, 0, 0.87);
	margin-bottom: 1em;
	padding: 0.4em 0.8em;
	text-decoration: none;
}
