.phase {
	@at-root .phase__navigation {
		margin-top: 1em;
		overflow: hidden;

		a[rel="next"] {
			float: right;
		}
	}
}

.checklist {
	font-weight: 300;
	padding: 0;

	table {
		width: 100%;
	}
}

.checklist__item {
	$border: 1px solid #d6d6d6;
	border: $border;
	border-bottom-style: none;

	&:last-child {
		border-bottom: $border;
	}

	@at-root .checklist__item-cell {
		padding: 1em 1em;
	}

	@at-root .checklist__item-cell--number {
		color: lighten($primary-text-color, 75%);
		width: 1px;
	}

	@at-root .checklist__item-cell--action {
		text-align: right;
	}

	@at-root .checklist__item-cell--buttons {
		padding {
			bottom: 0.75em;
			left: 0;
			top: 0.75em;
		}
		width: 42px;
	}

	@at-root
	.checklist__item-name,
	.checklist__item-action {
		background-color: #fff;
	}
}

.btn-checklist-state {
	$size: 42px;
	background: {
		color: transparent;
		position: 50%;
		repeat: no-repeat;
		size: $size;
	};
	border: none;
	border-radius: 50%;
	height: $size + 8;
	transition: box-shadow 0.1s ease-in-out;
	width: $size + 8;

	&:focus {
		box-shadow: 0px 0px 5px rgb(91, 157, 217);
		outline: none;
	}
}

.btn-checklist-state--initial {
	background-image: url('/static/assets/icons/initial.svg');
}

.btn-checklist-state--checked {
	background-image: url('/static/assets/icons/check.svg');
}

.btn-checklist-state--skipped {
	background-image: url('/static/assets/icons/skip.svg');
}

.btn-checklist-state--failed {
	background-image: url('/static/assets/icons/fail.svg');
}

.phase-progress {
	bottom: 0px;
	height: 4px;
	left: -100%;
	position: fixed;
	width: 100%;

	@at-root .phase-progress__bar {
		background: #7cb342;
		border-bottom-right-radius: 1px;
		border-top-right-radius: 1px;
		height: 100%;
		transition: transform 350ms;
	}

	@at-root .phase-progress__peg {
		border-radius: 100%;
		box-shadow: #7cb342 1px 0 6px 1px;
		height: 2px;
		opacity: .45;
		position: absolute;
		right: 0;
		top: 0;
		width: 70px;
	}
}
