.checklist {
	font-weight: 300;
	padding: 0;

	table {
		width: 100%;
	}
}

.checklist__item {
	$border: 1px solid #d6d6d6;
	border: $border;
	border-bottom-style: none;

	&:last-child {
		border-bottom: $border;
	}

	@at-root .checklist__item-cell {
		padding: 1em 1em;
	}

	@at-root .checklist__item-cell--number {
		color: lighten($primary-text-color, 75%);
		width: 1px;
	}

	@at-root .checklist__item-cell--action {
		text-align: right;
	}

	@at-root .checklist__item-cell--buttons {
		padding-left: 0;
		width: 42px;
	}

	@at-root
	.checklist__item-name,
	.checklist__item-action {
		background-color: #fff;
	}
}

.btn-checklist-state {
	$size: 42px;
	background: {
		color: transparent;
		position: 50%;
		size: $size;
	};
	border: none;
	height: $size;
	width: $size;
}

.btn-checklist-state--initial {
	background-image: url('/static/assets/icons/initial.svg');
}

.btn-checklist-state--checked {
	background-image: url('/static/assets/icons/check.svg');
}

.btn-checklist-state--skipped {
	background-image: url('/static/assets/icons/skip.svg');
}

.btn-checklist-state--failed {
	background-image: url('/static/assets/icons/fail.svg');
}
