@import "_normalize";
@import "_elements";
@import "_variables";

/***************************
** Reusable modules
****************************/
@import "modules/_bare-list";
@import "modules/_inline-block";
@import "modules/_truncate";

/***************************
** Mixins and utilities
****************************/
@import "mixins/_rem";

*, *:before, *:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}
