<h1>Checklist Detail</h1>

<div class="checklist-phase" ng-repeat="phase in phases">
	<h2 ng-bind="phase.name"></h2>
	<div class="checklist">
		<div ng-repeat="step in phase.steps" class="checklist__item">
			<div class="checklist__item-wrapper">
				<div class="m-cf">
					<span ng-bind="$index + 1" class="m-inline-block checklist__item-number"></span>
					<span ng-bind="step.item" class="m-inline-block checklist__item-name"></span>
					<span ng-bind="step.action" class="m-inline-block  checklist__item-action"></span>
				</div>
			</div>
		</div>
	</div>
</div>
